.todo__item{
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
    background-color:#e4e4e4;
    border: 1px solid #ccc;
  }
  .todo__item--Complate{
      text-decoration: line-through;
      opacity: 0.4;
  }